@font-face {
  font-family: abc-diatype;
  font-display: swap;
  src: url(../fonts/abc-diatype-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: abc-diatype;
  font-display: swap;
  src: url(../fonts/abc-diatype-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Anton;
  font-display: swap;
  src: url(../fonts/Anton.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  background-color: #01001a;
  line-height: 1;
  font-family: abc-diatype,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: abc-diatype,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 1.5rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.5rem 1fr minmax(auto,82rem) 1fr 1.5rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex
}
.button--orange {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  color: #01001a;
  font-family: Anton,sans-serif;
  border-radius: .75rem;
  box-shadow: 0 0 20px 0 #f0b130
}
.button--orange:hover .button--background::after {
  opacity: 0;
  transition: opacity .3s ease .1s
}
.button--orange:hover .button--background::before {
  opacity: 1;
  transition: opacity .3s
}
.button--background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.button--background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(131deg,#ef9a24 0,#f2dd42 100%);
  transition: opacity .3s;
  opacity: 1
}
.button--background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(131deg,#ef9a24 100%,#f2dd42 0);
  transition: opacity .3s ease .1s;
  opacity: 0
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
input[type=email]:active,
input[type=email]:focus,
input[type=tel]:active,
input[type=tel]:focus,
input[type=text]:active,
input[type=text]:focus,
textarea:active,
textarea:focus {
  outline: 0;
  border: 1px solid #f2ac43;
  background-color: #01001a
}
.input {
  width: 100%;
  display: block;
  padding: .6875rem 1rem .6875rem 3.25rem;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: .75rem;
  caret-color: inherit;
  background-color: #1e2338;
  line-height: 1.5;
  letter-spacing: -.03em;
  color: #fff;
  transition: border .3s ease 0s,background-color .3s ease 0s
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.checkbox {
  position: relative
}
.checkbox:not(:last-child) {
  margin-bottom: em(5)
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0
}
.checkbox__input:focus-visible+.checkbox__label:before {
  box-shadow: 0 0 5px #f2ac43
}
.checkbox__input:checked+.checkbox__label:before {
  background-color: #f2ac43;
  background-image: url(../img/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center center
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  gap: .75rem
}
.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #f2ac43;
  border-radius: .25rem;
  background-color: #01001a
}
.checkbox__text {
  align-self: center;
  line-height: 1.5;
  letter-spacing: -.03em
}
.checkbox__text--primary {
  color: #41f5fc
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-radius: .5rem
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #fff;
  position: absolute;
  top: calc(100% - -.5rem);
  border-radius: .5rem;
  min-width: 100%;
  right: 0;
  background-color: #01001a;
  border: 1px solid #f2ac43;
  padding: 1rem
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 11.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: inherit;
  transition: background .15s
}
.select__option._select-selected {
  background-color: #eee
}
.select__option:focus {
  background: rgba(255,255,255,.08);
  outline: 0
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .5rem);
  border-radius: .5rem;
  padding: 1rem
}
._select-tag {
  cursor: pointer
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.body-text-b1 {
  font-size: .875rem;
  line-height: 1.4285714286
}
.body-text-b1--bold {
  font-weight: 700
}
.body-text-b2 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -.03em
}
.body-text-b2--bold {
  font-weight: 700
}
.body-text-b3 {
  font-size: 1.25rem;
  line-height: 1.4
}
.body-text-b3--bold {
  font-weight: 700
}
.decor-circle {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 64.25rem;
  height: 64.25rem;
  top: -61.1875rem;
  right: -29.4375rem;
  background-color: #f2ac43;
  border-radius: 100%;
  -webkit-filter: blur(250px);
  filter: blur(250px);
  -webkit-animation: animation-puls 5s ease-in-out 0s infinite;
  animation: animation-puls 5s ease-in-out 0s infinite
}
.pagging__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem
}
.pagging__link {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.5rem;
  padding: .6875rem 1.25rem;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: .5rem;
  background: rgba(255,255,255,.04);
  transition: background .3s ease 0s,border .3s ease 0s
}
._active-dropdown .dropdown__button {
  border: 1px solid #f2ac43
}
.dropdown__button::after {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
._active-dropdown .dropdown__button::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.dropdown__body {
  pointer-events: none;
  overflow: hidden
}
._active-dropdown .dropdown__body {
  pointer-events: all
}
.dropdown__wrapper {
  border: 1px solid #f2ac43;
  border-radius: .5rem;
  backdrop-filter: blur(4px);
  background: #01001a;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
._active-dropdown .dropdown__wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.dropdown__scroll {
  display: grid;
  gap: .5rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 11.5rem;
  padding: 1rem
}
.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255,255,255,.05);
  background: rgba(255,255,255,.08);
  backdrop-filter: blur(16px)
}
.top-header {
  border-bottom: 1px solid rgba(255,255,255,.05)
}
.top-header__container {
  min-height: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  padding-top: .75rem;
  padding-bottom: .75rem
}
.top-header__items {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: .5rem
}
.top-header__item {
  display: flex;
  gap: .25rem;
  font-size: .875rem;
  line-height: 1.43;
  white-space: nowrap
}
.top-header__name {
  color: #949494
}
.top-header__price {
  color: #fff
}
.top-header__percentage-red {
  color: #ff815d
}
.top-header__percentage-green {
  color: #22c55e
}
.top-header__actions {
  display: flex;
  align-items: center;
  gap: 2rem
}
.top-header__office {
  display: flex;
  gap: .75rem;
  line-height: 1.5;
  letter-spacing: -.03em
}
.top-header__login {
  color: #41f5fc;
  transition: color .3s
}
.top-header__login:hover {
  color: #fff
}
.top-header__register {
  color: #41f5fc;
  transition: color .3s
}
.top-header__register:hover {
  color: #fff
}
.top-header .select__value {
  gap: .5rem
}
.top-header .select__value::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  -webkit-filter: brightness(400%);
  filter: brightness(400%);
  background: url(../img/icons/language.svg) no-repeat center center/cover;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s,-webkit-filter .3s
}
.top-header .select__value::after {
  content: none
}
.top-header .select__value:hover::before {
  -webkit-filter: brightness(100%);
  filter: brightness(100%)
}
.top-header .select__value:hover .select__content {
  -webkit-filter: brightness(100%);
  filter: brightness(100%)
}
.top-header ._select-open .select__value::before {
  -webkit-filter: brightness(100%);
  filter: brightness(100%)
}
.top-header ._select-open .select__value .select__content {
  -webkit-filter: brightness(100%);
  filter: brightness(100%)
}
.top-header .select__content {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -.03em;
  color: #f2ac43;
  -webkit-filter: brightness(400%);
  filter: brightness(400%);
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s,-webkit-filter .3s
}
.top-header .select__option {
  width: 7.3125rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -.03em
}
.top-header .select__option:not(:last-child) {
  margin-bottom: .5rem
}
.top-header .select__option::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #f2ac43
}
.top-header .select__option[hidden]::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 6px solid #f2ac43
}
.bottom-header__container {
  min-height: 5.5rem;
  display: flex;
  gap: 3.125rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem
}
.bottom-header__body {
  display: flex;
  align-items: center;
  gap: 3.125rem
}
.bottom-header__logo path {
  transition: fill .3s
}
.bottom-header__actions {
  flex: 1 1 auto;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end
}
.bottom-header__button {
  flex: 0 0 9.75rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  gap: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: .5rem .5rem .5rem 1.25rem;
  border-radius: 1rem
}
.bottom-header__button::after {
  content: "";
  flex: 0 0 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #01001a;
  border-radius: .75rem;
  background-image: url(../img/icons/rocket.svg);
  background-repeat: no-repeat;
  background-position: center center
}
.search-bottom-header {
  flex: 0 1 21.4375rem;
  position: relative
}
.search-bottom-header__input {
  background-image: url(../img/icons/loop.svg);
  background-repeat: no-repeat;
  background-position: 1rem .6875rem
}
._search-active .search-bottom-header__input {
  border: 1px solid #f2ac43;
  background-color: #01001a
}
.search-bottom-header__list {
  display: none;
  z-index: 3;
  position: absolute;
  min-width: 100%;
  top: calc(100% - -.5rem);
  right: 0;
  box-shadow: 0 0 25px 0 rgba(242,175,75,.4);
  background: #01001a;
  border: 1px solid #f2ac43;
  border-radius: .75rem;
  padding: 1rem
}
._search-active .search-bottom-header__list {
  display: block
}
.search-bottom-header__scroll {
  width: 36.25rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 21.5rem
}
.search-bottom-header__item:not(:last-child) {
  margin-bottom: .5rem
}
.search-bottom-header__no-results {
  padding: 1rem
}
.search-bottom-header__link {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  padding: 1rem;
  border-radius: .5rem;
  transition: background .15s
}
.search-bottom-header__link:focus {
  background: rgba(255,255,255,.08);
  outline: 0
}
.search-bottom-header__text {
  flex: 1 1 auto;
  color: #41f5fc
}
.search-bottom-header__text--white {
  color: #fff
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: .5rem
}
.menu__link {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -.03em;
  transition: color .3s
}
.footer {
  display: grid;
  gap: 2rem;
  padding: 2.75rem 0;
  background: rgba(255,255,255,.04)
}
.top-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem
}
.top-footer__logo path {
  transition: fill .3s
}
.top-footer__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: .5rem
}
.top-footer__link {
  line-height: 1.5;
  letter-spacing: -.03em;
  transition: color .3s
}
.top-footer__button {
  padding: .875rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.top-footer__button:hover {
  -webkit-transform: translateY(.3125rem);
  transform: translateY(.3125rem)
}
.bottom-footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,.08);
  padding-bottom: 2rem
}
.bottom-footer__list {
  display: flex;
  align-items: center;
  gap: .5rem
}
.bottom-footer__link {
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 50%;
  background: rgba(255,255,255,.04);
  padding: .4375rem;
  transition: background-color .3s ease 0s,border .3s ease 0s
}
.bottom-footer__picture {
  width: 12.5rem;
  height: 2.5rem
}
.copy-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.copy-footer__text {
  line-height: 1.5;
  letter-spacing: -.03em;
  color: #7c7b85
}
.copy-footer__list {
  display: flex;
  align-items: center;
  gap: 1.5rem
}
.copy-footer__link {
  line-height: 1.5;
  letter-spacing: -.03em;
  color: #41f5fc;
  transition: color .3s
}
.banner {
  padding-top: 10rem;
  padding-bottom: 5rem
}
.banner__container {
  display: grid;
  gap: 1rem
}
.banner__body {
  display: flex;
  gap: 1rem
}
.banner__item {
  flex: 1 1 40.5rem;
  position: relative;
  padding-top: 6.4024390244%
}
.banner__item--big {
  padding-top: 6.4024390244%
}
.banner__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .75rem
}
.main {
  position: relative;
  padding-top: 5.875rem;
  padding-bottom: 9.375rem
}
.main::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -39.164%;
  left: 0;
  background: url(../img/main/main/bg.webp) no-repeat center center/contain
}
.main__title {
  font-family: Anton,sans-serif;
  font-size: 4rem;
  line-height: 1.12;
  letter-spacing: -.03em;
  text-transform: uppercase;
  text-align: center
}
.main__title:not(:last-child) {
  margin-bottom: 3.75rem
}
.main__parallax {
  position: absolute
}
.main__image {
  z-index: -1;
  position: relative;
  display: grid;
  justify-content: center;
  padding-top: 41.7361111111%
}
.main__pictre {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain
}
.body-main {
  display: grid;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit,minmax(26.5625rem,1fr))
}
.item-main--state {
  padding: .75rem;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 1rem;
  background: rgba(255,255,255,.04)
}
.item-main__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem
}
.item-main__top:not(:last-child) {
  margin-bottom: 1rem
}
.item-main__list {
  display: grid;
  gap: .75rem
}
.item-main__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem
}
.item-main__link {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  color: #41f5fc;
  transition: color .3s
}
.item-main__picture {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%
}
.item-main__state {
  text-align: right
}
.top-item-main:not(:last-child) {
  margin-bottom: 1rem
}
.top-item-main--state:not(:last-child) {
  margin-bottom: .75rem
}
.top-item-main__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4
}
.top-item-main__link {
  text-align: right;
  color: #41f5fc;
  transition: color .3s
}
.giveaway-item-main {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 1rem;
  padding: 1rem;
  background: url(../img/main/main/banner.webp) no-repeat center center/cover
}
.giveaway-item-main__title {
  font-family: Anton,sans-serif;
  font-size: 2rem;
  line-height: 1.37;
  letter-spacing: -.03em
}
.giveaway-item-main__title:not(:last-child) {
  margin-bottom: .0625rem
}
.giveaway-item-main__title--orange {
  text-transform: uppercase;
  color: #f2ac43
}
.giveaway-item-main__text {
  font-size: 1.125rem;
  line-height: 1.44;
  color: #949494
}
.giveaway-item-main__date {
  display: flex;
  justify-content: space-between;
  gap: .75rem
}
.giveaway-item-main__date:not(:last-child) {
  margin-bottom: 1rem
}
.giveaway-item-main__actions {
  display: flex;
  gap: .75rem
}
.giveaway-item-main__button {
  text-align: center;
  color: #01001a;
  border-radius: .5rem;
  padding: .375rem .75rem;
  box-shadow: 0 0 20px 0 rgba(65,245,252,.3);
  background: #41f5fc;
  transition: background .3s
}
.giveaway-item-main__button:hover {
  background: #fff
}
.giveaway-item-main__button--orange {
  background: #f2ac43
}
.info-item-main {
  display: grid;
  gap: .75rem
}
.info-item-main__item {
  display: flex;
  justify-content: space-between;
  gap: .75rem;
  background: rgba(255,255,255,.04);
  padding: .75rem;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: .75rem
}
.info-item-main__link {
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  transition: color .3s
}
.info-item-main__picture {
  border-radius: 100%;
  width: 3rem;
  height: 3rem
}
.info-item-main__title {
  max-width: 21.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.info-item-main__name {
  max-width: 13.1875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.info-item-main__reward {
  max-width: 13.1875rem;
  color: #949494;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.info-item-main__live {
  display: grid;
  justify-items: right;
  gap: .25rem
}
.info-item-main__block {
  border: 1px solid #1eac52;
  border-radius: .375rem;
  padding: .125rem .5625rem
}
.info-item-main__text {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-size: .75rem;
  line-height: 1.5
}
.info-item-main__text::before {
  content: "";
  width: .625rem;
  height: .625rem;
  border-radius: 100%;
  background-color: #1eac52
}
.info-item-main__time {
  display: inline-flex
}
.info-item-main__date {
  max-width: 21.25rem;
  color: #949494;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.coins {
  padding-bottom: 9.375rem
}
.coins__title {
  text-align: center;
  font-family: Anton,sans-serif;
  font-size: 4rem;
  line-height: 1.12;
  letter-spacing: -.03em
}
.coins__title:not(:last-child) {
  margin-bottom: 3.75rem
}
.filter-coins:not(:last-child) {
  margin-bottom: 3.75rem
}
.options-filter-coins {
  position: relative;
  z-index: 1
}
.options-filter-coins:not(:last-child) {
  margin-bottom: 3.75rem
}
.header-filter-coins {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap
}
.header-filter-coins:not(:last-child) {
  margin-bottom: 1.5rem
}
.header-filter-coins__item {
  flex: 0 1 17.5rem
}
.header-filter-coins__label {
  color: #949494
}
.header-filter-coins__label:not(:last-child) {
  margin-bottom: .5rem
}
.header-filter-coins__dropdown {
  position: relative;
  width: 100%
}
.header-filter-coins__button {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: .5rem;
  background: rgba(255,255,255,.04);
  padding: .4375rem .9375rem;
  transition: border .3s
}
.header-filter-coins__button::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/icons/arrow-dropdown.svg) no-repeat center center/contain
}
.header-filter-coins__actions {
  display: flex;
  align-items: center;
  gap: 1rem
}
.header-filter-coins__button-listing {
  gap: .75rem;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: .5rem;
  background: rgba(255,255,255,.04);
  padding: .4375rem 1.5rem;
  transition: border .3s
}
.header-filter-coins__reset {
  white-space: nowrap;
  align-self: flex-end;
  color: #41f5fc;
  padding-bottom: .5rem;
  transition: color .3s
}
.body-coins-dropdown {
  min-width: 100%;
  position: absolute;
  top: calc(100% - -.5rem)
}
.body-coins-dropdown__label {
  display: flex;
  flex-direction: row-reverse;
  transition: background .15s
}
.body-coins-dropdown__text {
  flex: 1 1 auto;
  padding-right: .5rem
}
.body-coins-dropdown__picture {
  width: 1.5rem;
  height: 1.5rem
}
.body-coins-dropdown__range {
  display: grid;
  gap: .5rem
}
.body-coins-dropdown__input {
  border-radius: .5rem;
  padding: .1875rem .6875rem
}
.go-to-filter-coins {
  display: flex;
  align-items: center;
  gap: 1rem
}
.go-to-filter-coins__text {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  color: #949494
}
.go-to-filter-coins__text::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/icons/arrow-right.svg) no-repeat center center/contain
}
.go-to-filter-coins__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem
}
.go-to-filter-coins__button {
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
  border: 1px solid rgba(255,255,255,.08);
  background: rgba(255,255,255,.04);
  padding: .4375rem .9375rem;
  transition: border .3s
}
.go-to-filter-coins__picture {
  width: 1.5rem;
  height: 1.5rem
}
.list-filter-coins {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  border: 1px solid rgba(242,172,67,.2);
  box-shadow: 0 0 20px 0 rgba(242,172,67,.4);
  background: #01001a;
  border-radius: 1rem;
  padding-bottom: .5rem
}
.list-filter-coins::after,
.list-filter-coins::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 64.25rem;
  height: 79.25rem;
  background: #f2ac43;
  border-radius: 100%;
  -webkit-filter: blur(250px);
  filter: blur(250px)
}
.list-filter-coins::before {
  top: 3.75rem
}
.list-filter-coins::after {
  bottom: 3.75rem
}
.list-filter-coins__filter {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.1875rem;
  gap: 2.375rem;
  border-bottom: 1px solid #1e2338
}
.list-filter-coins__arrow {
  align-items: center;
  white-space: nowrap;
  gap: .375rem;
  text-align: left;
  padding-left: .1875rem
}
.list-filter-coins__arrow::after {
  content: "";
  width: .75rem;
  height: .75rem;
  background: url(../img/icons/arrow-down.svg) no-repeat center center/contain
}
.list-filter-coins__arrow--double {
  gap: .1875rem
}
.list-filter-coins__arrow--double::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/icons/arrow-updown.svg) no-repeat center center/contain
}
.list-filter-coins__item {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #01001a;
  padding: 1.25rem 1.1875rem 1.1875rem;
  gap: 2.375rem
}
.list-filter-coins__item:not(:last-child) {
  border-bottom: 1px solid #1e2338
}
.list-filter-coins__item--orange {
  background-color: #231a01
}
.list-filter-coins__item--orange:not(:last-child) {
  border-bottom: 1px solid #5b4305
}
.list-filter-coins__favorite {
  flex: 0 0 1.125rem
}
.list-filter-coins__image {
  flex: 0 0 2.5rem
}
.list-filter-coins__picture {
  width: 2.5rem;
  height: 2.5rem
}
.list-filter-coins__link {
  flex: 1 1 8.75rem
}
.list-filter-coins__name {
  max-width: 8.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .3s
}
.list-filter-coins__label {
  color: #949494;
  max-width: 8.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.list-filter-coins__state {
  flex: 0 1 7.875rem;
  white-space: nowrap
}
.list-filter-coins__price {
  flex: 0 1 8.125rem
}
.list-filter-coins__value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.list-filter-coins__change {
  flex: 0 1 7.8125rem
}
.list-filter-coins__launch {
  flex: 0 1 8.5rem
}
.list-filter-coins__chain {
  flex: 0 1 3.75rem
}
.list-filter-coins__votes {
  flex: 0 1 7.75rem;
  display: flex;
  justify-content: end
}
.list-filter-coins__button {
  white-space: nowrap;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  padding: .5rem .625rem;
  box-shadow: 0 0 20px 0 rgba(255,176,59,.45);
  background: #f2ac43;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -.03em;
  color: #01001a;
  transition: background .3s
}
.list-filter-coins__button:hover {
  background: #fff
}
.list-filter-coins__button--vote {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .1875rem;
  font-size: .875rem;
  line-height: 1.43;
  letter-spacing: 0
}
.list-filter-coins__button--vote::before {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  background: url(../img/icons/arrow-vote.svg) no-repeat center center/contain
}
.here {
  padding-bottom: 9.375rem
}
.header-here {
  display: flex;
  gap: 2rem
}
.header-here:not(:last-child) {
  margin-bottom: 2.75rem
}
.header-here__title {
  max-width: 35.875rem;
  font-family: Anton,sans-serif;
  font-size: 5rem;
  line-height: 1.12;
  letter-spacing: -.03em
}
.header-here__text {
  color: #949494
}
.header-here__text:not(:last-child) {
  margin-bottom: .75rem
}
.header-here__link {
  position: relative;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -.03em;
  color: #f2ac43;
  transition: color .3s
}
.header-here__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .0625rem;
  bottom: -.125rem;
  left: 0;
  background-color: #f2ac43;
  transition: background-color .3s
}
.body-here {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit,minmax(19.3125rem,1fr))
}
.body-here__item {
  padding: 2rem 1.5rem 0 1.5rem
}
.body-here__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: rgba(255,255,255,.08)
}
.body-here__image:not(:last-child) {
  margin-bottom: 1.5rem
}
.body-here__title:not(:last-child) {
  margin-bottom: 1rem
}
.body-here__text {
  color: #949494
}
.body-here__text:not(:last-child) {
  margin-bottom: 1.5rem
}
.body-here__button {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.43;
  text-align: center;
  color: #241e1e;
  border-radius: .5rem;
  padding: .375rem .75rem;
  background-color: #41f5fc;
  transition: background-color .3s
}
.body-here__button:hover {
  background-color: #fff
}
.body-here__button--orange {
  background-color: #f2ac43
}
.subscribe {
  padding-bottom: 9.375rem
}
.subscribe__body {
  position: relative;
  display: grid;
  justify-items: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem
}
.subscribe__body::after,
.subscribe__body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .0625rem;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg,rgba(65,245,252,0) 0,#41f5fc 33%,#41f5fc 60%,rgba(65,245,252,0) 100%)
}
.subscribe__body::before {
  top: 0
}
.subscribe__title {
  font-family: Anton,sans-serif;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -.02em;
  text-transform: uppercase;
  text-align: center
}
.subscribe__title:not(:last-child) {
  margin-bottom: 1rem
}
.subscribe__text {
  max-width: 44.8125rem;
  text-align: center
}
.subscribe__text:not(:last-child) {
  margin-bottom: 2rem
}
.form-subscribe {
  max-width: 34.0625rem
}
.form-subscribe__top {
  display: flex;
  gap: 1rem;
  padding: 0 1.25rem
}
.form-subscribe__top:not(:last-child) {
  margin-bottom: 1.5rem
}
.form-subscribe__input {
  background-image: url(../img/icons/email.svg);
  background-repeat: no-repeat;
  background-position: 1rem .6875rem
}
.form-subscribe__button {
  position: relative;
  min-width: 8.75rem;
  padding: .5rem .5rem .5rem 1.25rem;
  align-items: center;
  gap: 1.25rem
}
.form-subscribe__button::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: .5rem;
  background-color: #01001a;
  padding: .625rem;
  background-image: url(../img/icons/arrow-sent.svg);
  background-repeat: no-repeat;
  background-position: center center
}
.checkbox-form-subscribe__label::before {
  background-color: #1e2338;
  border: 1px solid rgba(255,255,255,.08)
}
.page {
  position: relative
}
@media (min-width:82em) {
  .banner {
    padding-top: 10rem
  }
  .filter-coins {
    padding-right: 2.25rem
  }
  .filter-coins {
    padding-left: 2.25rem
  }
}
@media (max-width:85em) {
  .main::before {
    top: -18.75rem;
    height: 54.625rem;
    background: url(../img/main/main/bg.webp) no-repeat center center/cover
  }
}
@media (max-width:75em) {
  .filter-coins {
    padding-right: .0000000625rem
  }
  .filter-coins {
    padding-left: .0000000625rem
  }
}
@media (max-width:62em) {
  .banner {
    padding-top: 12.25rem
  }
}
@media (min-width:62em)and (max-width:82em) {
  .banner {
    padding-top: clamp(10rem ,19.225rem + -11.25vw ,12.25rem)
  }
}
@media (min-width:75em)and (max-width:82em) {
  .filter-coins {
    padding-right: clamp(.0000000625rem ,-24.107142125rem + 32.14285625vw ,2.25rem)
  }
  .filter-coins {
    padding-left: clamp(.0000000625rem ,-24.107142125rem + 32.14285625vw ,2.25rem)
  }
}
@media (any-hover:hover) {
  .input:hover {
    border: 1px solid #f2ac43;
    background-color: #01001a
  }
  .checkbox__text--primary:hover {
    text-decoration: underline
  }
  .select__option:hover {
    background: rgba(255,255,255,.08)
  }
  .pagging__link:hover {
    border: 1px solid transparent;
    background: rgba(255,255,255,.08)
  }
  .bottom-header__logo:hover path {
    fill: #f2ac43
  }
  .search-bottom-header__link:hover {
    background: rgba(255,255,255,.08)
  }
  .menu__link:hover {
    color: #f2ac43
  }
  .top-footer__logo:hover path {
    fill: #f2ac43
  }
  .top-footer__link:hover {
    color: #f2ac43
  }
  .bottom-footer__link:hover {
    border: 1px solid transparent;
    background-color: rgba(255,255,255,.08)
  }
  .copy-footer__link:hover {
    color: #fff
  }
  .item-main__link:hover {
    color: #fff
  }
  .top-item-main__link:hover {
    color: #fff
  }
  .info-item-main__link:hover {
    color: #f2ac43
  }
  .header-filter-coins__button:hover {
    border: 1px solid #f2ac43
  }
  .header-filter-coins__button-listing:hover {
    border: 1px solid #f2ac43
  }
  .header-filter-coins__reset:hover {
    color: #f2ac43
  }
  .body-coins-dropdown__label:hover {
    background: rgba(255,255,255,.08)
  }
  .go-to-filter-coins__button:hover {
    border: 1px solid #f2ac43
  }
  .list-filter-coins__link:hover .list-filter-coins__name {
    color: #f2ac43
  }
  .header-here__link:hover {
    color: #fff
  }
  .header-here__link:hover::before {
    background-color: #fff
  }
}